body{
	background-color: #eeeeee;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
}
.navbar{
	background-color: white;
	width: 100%;
	height: 50px;
	padding-left: 175px;
	padding-top: 15px;
	font-family: inherit;
	font-size: 34px;
	list-style: none;
	float: left;
	overflow: hidden;
	position: fixed;
}
.navbar img{
	height: 24px;
	width: 24px;
}
input{
	height: 30px;
	margin-left: 175px;
	border-radius: 4px;
	border-color: #C0C0C0;
	text-align: center;
}
.icon{
	padding-left: 250px;
}
.icon1{
	padding-left: 20px;
}
.icon2{
	padding-left: 20px;
}
.profil img{
	width: 143px;
	height: 143px;
	padding-left: 270px;
}
.content{
	padding: 0;
}
.title{
	color: #262626;
	font-size: 28px;
	width: 160px;
	
}
.profil{
	padding-top: 130px;
}
table tr td{
	color: #262626;	
}
tr td{
	text-align: left;

}
.name{
	height: 25px;
	font-size: 20px;
	color: #262626;
}
.follow{
	width: 100px;
	text-align: center;
	background: #3897f0;
    border-color: #3897f0;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
}
.follow a{
	color: white;
}
.arrow{
	width: 20px;
	text-align: center;
	background: #3897f0;
    border-color: #3897f0;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
}
.menu{
	padding-top: 20px;
	padding-left: 500px;
}
.menu tr td{
	width: 200px;
	text-align: center;
	font: inherit;
	font-size: 18px;
}
.post tr td img{
	height: 320px;
	width: 280px;
	padding-left: 30px;
	padding-bottom: 30px;
}
.post{
	margin: 0;
	padding-left: 217px;
	padding-top: 20px;
}
.dot{
	font-size: 32px;
}
a{
	text-decoration: none;
	color: black;
}
.hashtag a{
	color: #003569;
}
.topborder{
	color: #999;
}
.footer{
	padding-left: 180px;

}
li{
	list-style-type: none;
	display: inline-flex;
	padding-left: 15px;
	font-size: 12px;
}
p{
	font-size: 12px;
	display: inline-flex;
	padding-left: 50px;
	color: #999;
}