* {
    margin:-2; 
    padding:2;
}

.semua {
	background:red;
	width: 100%;
}

.navbar {
	position: fixed;
	background:red;
	width: 100%;
	height: 45px;
	z-index:2;

	 box-shadow: 2px 2px 2px rgba(0,0,0,0.8);

}


.navbar ul{
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.navbar li{

  float: left;
  margin-left: 20px;
  margin-top: 10px;

}

.navbar li a {
  display: block;
  text-align: center;
  padding: 0px 0px;
  margin-left: 1000px;
  text-decoration: none;
}

input{
	margin-top: -10px;
}
.navbar .judul
{
	padding-bottom: 10px;
	font-size: 40px;
	color: white;
	margin-left: 5%;
	text-align:center

}




.logoutama{
  margin-left: 70px;
  margin-top: -10px;
	height: 42px;
	width: 42px;
	 
}

.search {
	margin-top: -5px;
	width: 300px;
	height: 30px;
}

.navbar .cari {
	margin-top: -12px;
	width: 50px;
	height: 30px;
	color: white;
	background-color: #ff7f00;
	border: 0px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.8);

}




.all{
	background: red;
	width: 100%;
	margin: 5px auto;
}
 

 .all .leftside {
  float: left;
  width: 80%;
  height: 1000px;
  background-color: #ff7f00;
 }

 .all .leftside .kotakvidio {
  margin-top:5%;
  margin-left: 10%;
 }



 .all .leftside .judul {
  margin-top: 10px;
  width: 1000px;
  margin-left: 10%;
  color: black;
  font-size: 15px;
} 


 .all .leftside .didelok {
  margin-top: 2px;
  width: 1000px;
  margin-left: 10%;
  color: black;
  font-size: 15px;
} 

 .all .leftside .chanelbig {
  margin-top: 2px;
  width: 1000px;
  margin-left: 10%;
  color: black;
  font-size: 15px;
} 



.all .rightside {
  margin-top: 40px;
  height: 960px;
  float: left;
  width: 20%;
  background-color: #ff7f00;

}


.all .rightside .gambartumb{
	width: 100%;
	height: 112px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.8);
}


.kotaktumb{
  margin-top: 5%;
  margin-left: 10%;
}

.vid{
  width: 196px;
  height: 110px;
  margin-left: : 20%;

}

.vid-data{
  margin: 0;
  padding: 0;

}
.title{
  display: block;
  height: 20px;
  width: 180px;
  margin-top: 5px;
  padding: 0;

  
}
.title-name{
  text-decoration: none;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 600;
  font-family: sans-serif;
  color: black;
}

.title-name:hover {
	background-color: white;
	text-decoration: none;

}

.channel-name:hover{
	background-color: white;
	color: black;

}



.channel{
  height: 15px;
  width: 196px;
  margin-top: -3px;

}
.channel-name{
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 11px;
  font-family: sans-serif;
  color: white;
  background-color: red;
  text-decoration: none;
}
.all .views-box{
  postion: relative;
  height: 15px;
  width: 196px;
  margin-top: -5px;
  padding: 0;
}
.all .views-data{
  positon: relative;
  font-family: sans-serif;
  color: black;
  font-size: 11px;
}
.title-kategori {
	color: white;
	background-color: red;
}



