body {
	margin: 0;
	background-color: #eeeeee;
}
li a{
	color: white;
	text-decoration: none;
}
li a:hover {
	background-color: #4267b2;
}
#header{
	background-color: #3b5998;
	width: 100;
	height: 40px;
}
ul{
	list-style-type:none
	margin: 0;
	top: 0;
	padding-left: 50px;
}
li{
	display: inline-flex;
	padding-top: 7px;
	padding-left: 10px;
	color: white;
	border: 15px;
	text-decoration: none;
}
li img {
	width: 22px;
	height: 22px;
	padding-left: 15px;
}
form{
	padding-left: 12px;	
}
input{
	height: 18px;
	width: 350px;
}
.drop{
	height: 15px;
	width: 15px;
	padding-top: 6px;
}
.left{
	float: right;
	padding-right: 300px;
}
#nav{
	line-height: 30px;
	height: 580px;
	width: 250px;
	float: left;
	padding: 5px;
}
.picture{
	height: 170px;
	width: 170px;
	padding-top: 25px;
	padding-left: 70px;
}
.exline{
	padding-left: 70px;
}
.exline a:hover{
	background-color: white;
}
.exline a{
	text-decoration: none;
	color: black;
}
.box{
	background-color: #42b72a;
    border-color: #42b72a;
    color: white;
	width: 110px;
	height: 30px;
	text-align: center;
	border: 1px solid;
    border-radius: 2px;
    margin-top: 15px;
}
#content{
	height: 330px;
	width: 60%;
	border-radius: 3px;
	background-color: white;
	display: flex;
	float: none;
}
#content img{
	width: 100%;
	height: 330px;
}
.sukai{
	background-color: #42b72a;
    border-color: #42b72a;
    color: black;
	width: 70px;
	height: 30px;
	text-align: center;
	border: 1px solid;
    border-radius: 2px;

}
.box1{
	width: 782px;
	height: 60px;
	border-radius: 3px;
	background-color: white;
	display: flex;
	padding-left: 20px;
	color: #dcdcdc;
}
button{
	height: 30px;
	margin-top: 15px;
	color: #696969;
}
button img{
	width: 12px;
	height: 12px;
}
.box2{
	color: white;
	height: 28px;
	width: 150px;
	background-color: #3b5998;
	text-align: center;
	margin-top: 18px;
	margin-left: 245px;
	padding-top: 3px;
	border-radius: 3px;
}
.box3{
	color: #696969;
	border-radius: 3px;
	height: 28px;
	width: 125px;
	background-color: #dcdcdc;
	text-align: center;
	margin-top: 18px;
	margin-left: 15px;
	padding-top: 3px;
}
.box3 img{
	width: 15px;
	height: 15px;
	padding-top: 3px;
}
.boxcontent{
	background-color: white;
	width: 500px;
	height: 100px;
	margin-top: 20px;
	margin-left: 260px;
	border-radius: 3px;
}
.boxcontent img{
	width: 42px;
	height: 42px;
	padding-top: 15px;
	padding-left: 15px; 
}
.boxcontent input{
	border: none;
	margin-bottom: 25px;
	padding-left: 12px;
}